html {
  font-size: 10px;
  color: black;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color:#f6f6f7;
  color: #333;
}

.container {
  margin: 0 auto;
  max-width:100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form {
  margin: 3rem;
}

label {
  font-size: 20px;
  padding: 5px;
}

.title {
  font-size: 8rem;
  text-align: center;
  color: teal;
}

.card-list {
 display: flex;
 flex-direction: row;
 flex-flow: wrap;
 justify-content: center;
}

.card {
  padding: 2rem 4rem 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  margin: 2rem;
  background-color: darkgrey;
  width: 38rem;
  position: relative;
  transition: transform 0.2s;
}

.card--title{
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
}

.card--content {
  padding-bottom: 1px;
  background-color: rgba(245, 245, 245, 0.472);
  position: relative;
  color:black;
}


.card:hover {
	cursor: pointer;
	transform: scale(1.1);
  
}

.card--content:hover .overlay {
	opacity: 1;
  position: absolute;
}

.overlay {
	
	background: rgba(0, 0, 0, 0.8);
  color: aliceblue;
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 10px;
  position: absolute;
	text-align: center;
}

.nominees {
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  color: aliceblue;
  background-color: rgba(0, 0, 128, 0.63);
  width: 25%;
  height: 100%;
  position: relative;
}